colorlog==6.9.0
matplotlib==3.10.6
numpy==2.3.2
omegaconf==2.3.0
opencv_python==4.10.0.84
opencv_python_headless==4.11.0.86
paddlepaddle_gpu==3.1.1
Pillow==11.3.0
PyYAML==6.0.2
PyYAML==6.0.2
scikit_learn==1.7.1
scipy==1.16.1
seaborn==0.13.2
tqdm==4.66.5
